:root{
    --sizeheader:20px;
    --sizerow:18px;
    --sizetech:14px;
}
.all-projects{
    /* height:1000px; */
    max-width: 100%;
    background-color: var(--bg);
    margin:0 50px 50px 50px;
}

.title{
    margin-top:70px;
}

.project-collapsed{
    height:100px;
    width:100%;
}

a{
    text-decoration: none;
    color: var(--text);
}

.all-projects{
    max-width: 1200px;
    border-radius:25px;
    background-color: var(--bg);
    border: 3px solid var(--bg2);
    padding: 10px 35px 30px 35px;
    width: 100%;
    margin: 0px 30px;
    color:var(--text);
    font-family: 'Sequel Sans Body';
    font-size: 20px;
    text-shadow: none;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}

.all-projects:last-child{
    /* margin-bottom:20px; */
}

.content-container h3{
    margin:50px;
}

.header{
    display:flex;
    width:100%;
    margin-top:20px;
    font-size:var(--sizeheader);
}

.header div{
    padding:0 10px;
}

.row{
    display:flex;
    margin-top: 30px;
}

.row div{
    font-family:'Sequel Sans Body1';
    font-size:var(--sizerow);
    display: flex;
    align-items: center;
    gap: 5px;
    align-content: center;
    flex-wrap: wrap;
    padding:0 10px;
    box-sizing: border-box;
}

.row .y{
    color: var(--text2);

}

.y{
    width: 10%;
}

.n{
    width: 30%;
    font-family:'Sequel Sans Body' !important;
}

.t{
    width: 40%;

}

.t p{
    font-family: 'Sequel Sans Body';
    color: #B5B5B5;
    background-color: var(--bg2);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: var(--sizetech);
}

.l{
    width: 20%;

}

hr{
    width:100%;
    height:3px;
    border-radius: 2px;
    background-color: var(--bg2);
    border:none;
    margin-bottom: 0px;
    margin-top: 20px;
}

#all-projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    padding: 50px;
}

@media (max-width:1000px){
    #bg1-mobile{
        display:block;
        transform:scale(1.5);
        height: auto;
        width: 100%;
    }
}

@media (max-width:800px) {
    :root{
        --sizeheader:18px;
        --sizerow:16px;
        --sizetech:14px;
    }
    #bg1-mobile{
        display:block;
        transform:scale(1.5);
        height: auto;
        width: 100%;
    }
    .row div.l,
    .l{
        display: none;
    }
    .y{
        width: 20%;
    }
    .n{
        width:40%;
    }
    .t{
        width:40%;
    }
}

@media (max-width:500px){
    :root{
        --size-header:16px;
        --sizerow:14px;
        --sizetech:10px;
    }
    #bg1-mobile{
        display:block;
        transform:scale(2);
        height: auto;
        width: 100%;
    }
    #all-projects{
        padding: 10px;
    }
    .all-projects{
        padding: 10px 20px 30px 20px;
    }
    .header div,
    .row div{
        padding:0 5px;
    }
    .content-container h3{
        margin: 20px;
    }
}