@import url(https://db.onlinewebfonts.com/c/406b56da0c31245c249b3a3c61560d1a?family=Joyride+W05+STD);

@font-face {
    font-family: Sequel Sans;
    src: url(fonts/Sequel\ Sans\ Light\ Body.otf);
    font-weight:lighter;
}

@font-face {
    font-family: Sequel Sans;
    src: url(fonts/Sequel\ Sans\ Semi\ Bold\ Disp.otf);
    font-weight: bold;
}

@font-face {
    font-family: Sequel Sans1;
    src: url(fonts/Sequel\ Sans\ Medium\ Disp.otf);
    font-weight: normal;
}

@font-face {
    font-family: Sequel Sans Book;
    src: url(fonts/Sequel\ Sans\ Book\ Head.otf);
    font-weight: normal;
}

:root{
    --bg: #373536;
    --bg2: #575757;
    --text: #F8F8F8;
    --cursorX: 0;
    --cursorY: 0;
    --width:1500px;
    --h1:4rem;
    --h2:2.5rem;
    --h3:2em;
    --h4: 1.5em;
    --p: 1.5rem;
    --psmaller: 1.1em;
}

h2{
    height: auto;
    margin: 0;
    color: var(--text);
    font-family: 'Sequel Sans';
    font-weight: bold;
    font-size: var(--h2);
    text-align: center;
    line-height: 0.9;
    margin-bottom: 50px;
}

h3{
    height: auto;
    margin: 0;
    color: var(--text);
    font-family: 'Sequel Sans';
    font-weight: bold;
    font-size: var(--h3);
    text-align: center;
    line-height: 0.9;
    margin: 0px 0px 30px 5px;
    text-align:start;
}

h4{
    color: var(--text);
    font-family: 'Sequel Sans';
    font-weight: bold;
    font-size: var(--h4);
    text-align: center;
    line-height: 0.9;
    text-align:start;
    margin:0;
}

p{
    margin:0;
    color: var(--text);
    font-family: 'Sequel Sans Book';
    font-size: var(--p);
    line-height: 1.5;
    letter-spacing: 1px;
}

h1:hover,
#text:hover,
a:hover{
    text-shadow: 0px 0px 4px var(--text);
    transition: all 0.5s;
    cursor:pointer;
}

html{
    overflow-x:hidden;
}

body{
    background-color: var(--bg);
    margin:0;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    overflow: none;
}

body img{
    width:100%;
    /* pointer-events: none; */
}

.content-container{
    display: flex;
    justify-content: center;
    /* pointer-events: none; */
    position: relative;
    z-index: 1;
}

.content{
    max-width: var(--width);
    width: 100%;
    /* pointer-events: none; */
}

#bg1{
    position: absolute;
    z-index: -998;
    /* display: none; */
}

#bg1-mobile{
    display:none;
    position:absolute;
    z-index: -998;
}

#bg2{
    position: absolute;
    z-index: -999;
    width:100%;
}

.smokescreen{
    background-color: var(--bg);
    opacity: 1;
    position: absolute;
    transition: opacity 1.5s;
    height:300%;
    width:100%;
    z-index: 999;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:120px;
    pointer-events: none;
    z-index: 1;
    width:100%;
    transform:translateY(-120px);
    transition: all 1s;
    opacity:0;
    position: fixed;
    top: 0;
    /* left: 0; */
    justify-self: center;
    max-width: var(--width);
}

header h1{
    font-family:'Joyride W05 STD';
    color:var(--text);
    margin:0;
    font-size:3.25rem;
    padding:30px;
}

::-webkit-scrollbar {
    display: none;
}

#container{
    position: relative;
    width: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* pointer-events: none; */
  z-index: -99;
  /* display: none; */
}

.nav{
    padding: 30px 40px;
    display:flex;
    justify-content: space-between;
    gap: 40px;
    pointer-events: all;
}

.nav a{
    font-family:'Sequel Sans';
    font-weight: lighter;
    color:var(--text);
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.hero{
    height: calc(100vh - 120px);
    padding-bottom:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position:relative;
}

.hero h1,
.hero span{
    height: auto;
    margin: 0;
    color: var(--text);
    font-family: 'Sequel Sans';
    font-weight: bold;
    font-size: var(--h1);
    text-align: center;
    line-height: 0.9;
    /* margin: 0 20px; */
}

#wrapper {
    position: relative;
    height: 50px;
    display: flex;
    margin: 0 50px;
    /* transform: translateY(-20px); */
}

#text {
    position: relative;
    z-index: 1;
    pointer-events: all;
}

#caret {
    position: absolute;
    width: 20px;
    height: 3.5rem;
    background-color: #F8F8F8;
    vertical-align: bottom;
    z-index: 2;  /* To place it above the text */
    left: 0;
    box-shadow: 0px 0px 5px var(--text);
}

#logo{
    text-shadow: 0px 0px 5px var(--text);
    animation: pulse-shadow 4s infinite;
}

.learn-more{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Sequel Sans1';
    font-weight:lighter;
    font-size:var(--p);
    position: absolute;
    color:var(--text);
    bottom: 30px;
    pointer-events:all;
    transition: all 1s;
    opacity:0;
    transform:translateY(100px);
}

.learn-more:hover{
    cursor:pointer;
    animation: up-and-down 2s infinite;
    text-shadow: 0 0 3px var(--text);
}

.learn-more img{
    height: 40px;
    width: 40px;
}

.about{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:50px;
}

.about p{
    max-width:700px;
    text-align: center;
    padding:0 50px;
}


.experience{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.project{
    max-width: 1200px;
    border-radius:25px;
    background-color: var(--bg);
    border: 3px solid var(--bg2);
    padding: 30px;
    display:flex;
    flex-direction: column;
    /* box-shadow: 0px 0px 8px var(--text); */
}





.project-container{
    display:flex;
    gap: 30px;
}

.project-container img{
    width: 600px;
    height: auto;
    align-content: start;
    border-radius: 20px;
    transition: all 1s;
    z-index: 20;
    position: relative;
}


.project-img::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0);
    transition: background-color 0.5s ease; /* Optional: for a smooth transition effect */
    pointer-events: none;
    z-index: 21;
    border-radius: 20px;
}

.project-img:hover::before{
    background-color: rgba(128, 128, 128, 0.5);
}

.project-container p{
    font-size: var(--psmaller);
}

.ptext{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.project-img{
    display: grid;
    align-items: flex-start;
    position: relative;
}


.explore{
    position:absolute;
    padding: 20px;
    align-self:center;
    justify-self: center;
    justify-content: center;
    z-index: 22;
    border: none;
    background-color: var(--bg);
    border-radius: 15px;
    opacity:0;
    pointer-events: none;
    transition:all 0.5s;
    text-decoration: none;
}

.explore:hover{
    cursor:pointer;
    background-color: var(--text);
    color:var(--bg);
    box-shadow: 0px 0px 8px var(--text);
}

.explore h4{
    transition:all 0.5s;
}

.explore:hover h4{
    color:var(--bg2);
}

.project-img:hover .explore{
    opacity: 1;
    pointer-events: all;
}




/* ------------------active classes------------------------ */

.hidden{
    opacity:0 ;
}

.appear{
    transform:translate(0,0) ;
    opacity:1;
}

/* ------------------keyframe animations------------------- */

@keyframes pulse-shadow {
    0% {
      text-shadow: 0px 0px 0px var(--text);
    }
    50% {
      text-shadow: 0px 0px 5px var(--text);
    }
    100% {
      text-shadow: 0px 0px 0px var(--text);
    }
}

@keyframes up-and-down{
    0%{
        transform:translateY(0px) ;
    }
    30%{
        transform:translateY(10px) ;
    }
    60%{
        transform:translateY(0px) ;
    }
    100%{
        transform: translateY(0px) ;
    }
}

/* ------------------media queries------------------- */

@media (max-width:1200px){
    .project-container img{
        width: 400px;
    }
}

@media (max-width:1000px){
    .container{
        transform:scale(3);
    }
    .project-container{
        flex-direction: column;
    }
    .project-container img{
        width: 100%;
    }
    #content{
        overflow: hidden;
    }
    #canvas{
        display:none;
    }
    .nav{
        display:none;
    }
    #bg2{
        display:none;
    }
    #bg1{
        display:none;
    }
    #bg1-mobile{
        display:block;
        transform:scale(2.5);
        height: 60%;
        width: auto;
    }

}

@media (max-width:800px) {
    :root{
        --h1:3rem;
        --h2:2em;
        --h3:1.5em;
        --p:1.2em;
    }
    #caret{
        height:2.5rem;
        width:15px;
    }
    body{
        /* background-image: url('assets/bg1.svg'); */
        background-size:200%;
    }
    #content{
        overflow: hidden;
    }
    #canvas{
        display:none;
    }
    .nav{
        display:none;
    }
    #bg1{
        display:none;
    }
    #bg2{
        display:none;
    }
    #bg1-mobile{
        display:block;
        transform:scale(2.5);
        height: 60%;
        width: auto;
    }
    .project-container img{
        width: 300px;
    }

}

@media (max-width:500px){
    :root{
        --h1:2.5rem;
        --h2:1.7em;
        --h3:1em;
        --p:1em;
    }
    .hero{
        height: calc(100vh - 120px);
    }
    .project-container img{
        width: 250px;
    }
    header{
        height:90px;
    }
    header h1{
        font-size:2.5rem;
        padding:20px;
    }
}