@import url(https://db.onlinewebfonts.com/c/406b56da0c31245c249b3a3c61560d1a?family=Joyride+W05+STD);


:root{
    --bg: #373536;
    --text: #F8F8F8;
    --cursorX: 0;
    --cursorY: 0;
}

body{
    background-color: var(--bg);
    margin:0;
}

body img{
    width:100%;
    pointer-events: none;
}

#bg1{
    position: absolute;
    z-index: -990;
}

#bg2{
    position: absolute;
    z-index: -999;
    width:100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:120px;
    pointer-events: none;
}

header h1{
    font-family:'Joyride W05 STD';
    color:var(--text);
    margin:0;
    font-size:3.25rem;
    padding:30px;
}

::-webkit-scrollbar {
    display: none;
}

#container{
    position: relative;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* pointer-events: none; */
  z-index: -99;
}